body {
    background-color: #31363f;
}

.header {
    background-color: #222831;
    width: 190vh;
    height: 11vh;
}

.headertitle {
    @import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

    position: absolute;
    width: 100vh;
    height: 6.5vh;
    left: 5vh;
    top: -2vh;

    font-family: "League Gothic", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;

    line-height: 5.5vh;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.buttonheader {
    position: absolute;
    border-radius: 2.25vh;
    background-color: #76abae;
    color: #fff;

    font-size: 2.3vh;

    width: 17vh;
    height: 5vh;

    top: 4vh;
    right: 10vh;
}

.project {
    right: 50vh;
}

.about {
    right: 30vh;
}

.contact {
    right: 10vh;
}


.mainbody {
    position: absolute;
    background-color: #222831;
    width: 190vh;
    height: 85vh;
    top: 13.5vh;
}